@model List<AuthorWebApplication.Models.author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>author_id</th>
        <th>author_FirstName</th>
        <th>author_lastName</th>
    </tr>

    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.author_id</td>
                    <td>@item.author_FirstName</td>
                    <td>@item.author_lastName</td>
                </tr>
            }

</table>

