
@{
    ViewBag.Title = "Home";
}

<h2>Home Page Content Here</h2>

@{
    ViewBag.Message = "Press Here for more info";
}

@section SidebarOptions
{
<a href=" #" class=" list-group-item">Admin</a>
<a href=" #" class=" list-group-item">Manager</a>
<a href=" #" class=" list-group-item">Employee</a>


}

